repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix, --extend-select, I]
      - id: ruff-format
  - repo: local
    hooks:
      # use local mypy instead of pre-commit hook, since this way we run in venv
      # and have all dependencies
      - id: mypy
        name: mypy
        entry: uv run mypy --package dpgmm
        language: system
        pass_filenames: false
