name: Publish Python package to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set package release version
        run: |
          LATEST_TAG=$(git describe --tags --abbrev=0)
          uv version ${LATEST_TAG:1}
        shell: bash

      - name: Build and publish to PyPI
        run: >-
          uv build
          && uv publish --token ${{ secrets.PYPI_API_TOKEN }}
